Repository unik-name/uns-cli: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:partial:fix, yarn prettify:fix

wip: add global proxy handler
  package.json
  src/baseCommand.ts
  yarn.lock
Due: yarn lint:partial:fix, yarn prettify:fix

feat: adds gas cost estimation
  package.json
  src/commands/swap.ts
  src/utils/ethers.ts
  src/utils/index.ts
  yarn.lock
Due: yarn lint:partial:fix, yarn prettify:fix

feat: ask confirmation before overriding verified url
  CHANGELOG.md
  src/commands/properties/verify.ts
  test/commands/properties/verify.test.ts
Due: yarn lint:partial:fix, yarn prettify:fix

chore: release 4.8.0
  CHANGELOG.md
  package.json
Due: yarn prettify:fix

chore: upgrade @uns/ts-sdk
  package.json
Due: yarn prettify:fix

chore: upgrade @uns/ts-sdk
  package.json
  yarn.lock
Due: yarn prettify:fix

feat: add unik:transfer command
  CHANGELOG.md
  package.json
  src/commands/unik/transfer.ts
  test/setupTests.ts
  yarn.lock
Due: yarn lint:partial:fix, yarn prettify:fix

ci: add security codeql analyser
  .github/workflows/codeql-analysis.yml
Due: none

feat: add event badge claim
  src/commands/badges/claim.ts
Due: yarn lint:partial:fix, yarn prettify:fix

chore: release 4.9.0
  CHANGELOG.md
  package.json
Due: yarn prettify:fix

chore: prepare 4.10.x
  package.json
Due: yarn prettify:fix

feat: set target erc symbol in swap transaction data field
  src/commands/swap.ts
  src/utils/ethers.ts
Due: yarn lint:partial:fix, yarn prettify:fix

feat: add sandbox unik activation command [SANDBOX NETWORK ONLY]
  src/commands/unik/activation.ts
Due: yarn lint:partial:fix, yarn prettify:fix

chore: release 4.10.0
  CHANGELOG.md
Due: yarn prettify:fix

chore: prepare 4.11.x
  package.json
Due: yarn prettify:fix

test: fix url verify test
  src/commands/properties/verify.ts
  test/__fixtures__/commands/properties/verify.ts
  test/__fixtures__/commons.ts
Due: yarn lint:partial:fix, yarn prettify:fix

feat: add unik:change-passphrase command
  src/abstract-transfer.ts
  src/baseCommand.ts
  src/commands/unik/change-passphrase.ts
  src/commands/unik/transfer.ts
  src/sdkWrapper.ts
  src/types.ts
  src/utils/flags-utils.ts
Due: yarn lint:partial:fix, yarn prettify:fix

WIP
  .gitignore
  .vscode/launch.json
  package.json
  src/abstract-transfer.ts
  src/baseCommand.ts
  src/commands/unik/change-passphrase.ts
  src/sdkWrapper.ts
  src/utils/command-utils.ts
  test/__fixtures__/commands/delegate/vote.ts
  test/__fixtures__/commands/unik/create.ts
  test/__fixtures__/commands/unik/disclose.ts
  yarn.lock
Due: yarn lint:partial:fix, yarn prettify:fix

feat: rebrand uns to UNIK and cli name
  README.md
  package.json
  src/abstract-vote.ts
  src/baseCommand.ts
  src/commandHelpers/send-helper.ts
  src/commands/badges/claim.ts
  src/commands/cryptoaccount/address.ts
  src/commands/cryptoaccount/create.ts
  src/commands/cryptoaccount/read.ts
  src/commands/cryptoaccount/set-second-passphrase.ts
  src/commands/delegate/register.ts
  src/commands/delegate/resign.ts
  src/commands/delegate/unvote.ts
  src/commands/delegate/vote.ts
  src/commands/properties/get.ts
  src/commands/properties/list.ts
  src/commands/properties/register.ts
  src/commands/properties/set.ts
  src/commands/properties/unset.ts
  src/commands/properties/verify.ts
  src/commands/resolve.ts
  src/commands/send.ts
  src/commands/status.ts
  src/commands/unik/activation.ts
  src/commands/unik/create.ts
  src/commands/unik/disclose.ts
  src/commands/unik/everlasting.ts
  src/commands/unik/is-disclosed.ts
  src/commands/unik/read.ts
  src/commands/unik/transfer.ts
  src/commands/version.ts
  src/sdkWrapper.ts
  src/updatePropertiesCommand.ts
  src/utils/command-utils.ts
  src/utils/flags-utils.ts
Due: yarn lint:partial:fix, yarn prettify:fix

feat: move commands
  package.json
  src/commandHelpers/send-helper.ts
  src/commands/activation.ts
  src/commands/create.ts
  src/commands/disclose.ts
  src/commands/everlasting.ts
  src/commands/is-disclosed.ts
  src/commands/read.ts
  src/commands/transfer.ts
  src/commands/unik/send.ts
  test/__fixtures__/commands/baseCommand.ts
  test/__fixtures__/commands/delegate/register.ts
  test/__fixtures__/commands/delegate/vote.ts
  test/__fixtures__/commands/send.ts
  test/__fixtures__/commands/unik/create.ts
  test/__fixtures__/commands/unik/disclose.ts
  test/commands/baseCommand.test.ts
  test/commands/create.test.ts
  test/commands/disclose.test.ts
  test/commands/send.test.ts
  test/commands/unik/send.test.ts
Due: yarn lint:partial:fix, yarn prettify:fix

docs: add naming conventions in readme
  README.md
Due: yarn prettify:fix

chore: upgrade dependencies
  yarn.lock
Due: none

chore: prettify due to dependencies upgrade
  src/commands/status.ts
  src/commands/unik/disclose.ts
  src/sdkWrapper.ts
Due: yarn lint:partial:fix, yarn prettify:fix

fix: upgrade @uns/sdk
  package.json
  yarn.lock
Due: yarn prettify:fix

fix: wallet mock for tests
  package.json
  test/__fixtures__/commands/delegate/vote.ts
  test/__fixtures__/commands/unik/create.ts
  test/__fixtures__/commands/unik/disclose.ts
  test/commands/delegate/vote.test.ts
  test/commands/properties/set.test.ts
  test/commands/properties/verify.test.ts
  test/commands/unik/disclose.test.ts
  yarn.lock
Due: yarn lint:partial:fix, yarn prettify:fix

Path conditions:
  yarn lint:partial:fix: any of: *.ts
  yarn prettify:fix: (any of: *.ts) or (any of: *.{json,md})
