Repository unik-name/uns-cli: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:partial:fix, yarn prettify:fix

feat: use new Ark crypto API to make transactions
  src/api.ts
  src/baseCommand.ts
  src/commandHelpers/send-helper.ts
  src/commands/create-unik.ts
  src/commands/send.ts
  src/updatePropertiesCommand.ts
  src/utils/command-utils.ts
Due: yarn lint:partial:fix, yarn prettify:fix

build: rewrite all @arkecosystem/crypto imports to @uns/ark-crypto
  package.json
  patches/@uns+core-nft-crypto+4.0.0-dev.201911291546.patch
  patches/@uns+crypto+4.0.0-dev.201911291544.patch
  yarn.lock
Due: yarn prettify:fix

fix: compute right wallet nonce
  src/.vscode/launch.json
  src/api.ts
Due: yarn lint:partial:fix, yarn prettify:fix

fix: fix tests
  test/__fixtures__/commands/create-unik.ts
  test/__fixtures__/commands/get-property-value.ts
  test/__fixtures__/commands/get-wallet-address.ts
  test/__fixtures__/commands/send.ts
  test/__fixtures__/commands/status.ts
  test/__fixtures__/commons.ts
  test/commands/create-unik.test.ts
  test/commands/get-property-value.test.ts
  test/commands/get-wallet-address.test.ts
  test/commands/send.test.ts
  test/commands/status.test.ts
Due: yarn lint:partial:fix, yarn prettify:fix

feat: migrate disclose command to new UNS SDK
  src/baseCommand.ts
  src/commands/disclose-explicit-values.ts
  src/utils/command-utils.ts
Due: yarn lint:partial:fix, yarn prettify:fix

refactor: upgrade to UNS v4/Ark 2.6 (TP id:1934)
  package.json
  patches/@uns+core-nft-crypto+4.0.0-dev.201911291546.patch
  patches/@uns+crypto+4.0.0-dev.201911291544.patch
  src/.vscode/launch.json
  src/api.ts
  src/baseCommand.ts
  src/commandHelpers/send-helper.ts
  src/commands/create-unik.ts
  src/commands/disclose-explicit-values.ts
  src/commands/read-wallet.ts
  src/commands/send.ts
  src/updatePropertiesCommand.ts
  src/utils/command-utils.ts
  src/writeCommand.ts
  test/__fixtures__/commands/create-unik.ts
  test/__fixtures__/commands/get-property-value.ts
  test/__fixtures__/commands/get-wallet-address.ts
  test/__fixtures__/commands/send.ts
  test/__fixtures__/commands/status.ts
  test/__fixtures__/commons.ts
  test/commands/create-unik.test.ts
  test/commands/get-property-value.test.ts
  test/commands/get-wallet-address.test.ts
  test/commands/send.test.ts
  test/commands/set-properties.test.ts
  test/commands/status.test.ts
  test/setupTests.ts
  tsconfig.json
  yarn.lock
Due: yarn lint:partial:fix, yarn prettify:fix

fix: toSatoshi should return integer not float
  src/utils/command-utils.ts
Due: yarn lint:partial:fix, yarn prettify:fix

feat: Handle second passphrase in create-unik command
  src/commands/create-unik.ts
  src/utils/command-utils.ts
  test/__fixtures__/commands/create-unik.ts
  test/commands/create-unik.test.ts
Due: yarn lint:partial:fix, yarn prettify:fix

fix: --await-confirmation=0 no wait
  src/commands/create-unik.ts
Due: yarn lint:partial:fix, yarn prettify:fix

fix: handle negative amount in send command
  src/commands/send.ts
Due: yarn lint:partial:fix, yarn prettify:fix

refactor: use uns client in status command and fix output data consistency
  src/api.ts
  src/commands/status.ts
  src/utils/command-utils.ts
  test/commands/status.test.ts
  test/unit/utils/command-utils.test.ts
Due: yarn lint:partial:fix, yarn prettify:fix

perf: read two UNS API in parallel
  src/commands/read-wallet.ts
Due: yarn lint:partial:fix, yarn prettify:fix

perf: do all HTTP requests in parallel
  src/commands/status.ts
Due: yarn lint:partial:fix, yarn prettify:fix

chore: use a stronger typing
  src/commands/create-unik.ts
Due: yarn lint:partial:fix, yarn prettify:fix

build: linter and pretier
  src/commands/read-wallet.ts
  src/utils/command-utils.ts
Due: yarn lint:partial:fix, yarn prettify:fix

refactor: use (again) a better way to handle UNS/Ark libs
  package.json
  patches/@uns+core-nft-crypto+4.0.0-dev.201911291546.patch
  patches/@uns+crypto+4.0.0-dev.201911291544.patch
  yarn.lock
Due: yarn prettify:fix

chore: add contributors
  package.json
Due: yarn prettify:fix

build: bump version 1.2.0 to prepare next major release
  package.json
Due: yarn prettify:fix

feat: validate transaction schema before sending
  src/api.ts
  test/commands/set-properties.test.ts
Due: yarn lint:partial:fix, yarn prettify:fix

fix applyExitCase function to mock configuration apis
  test/__fixtures__/commons.ts
Due: yarn lint:partial:fix, yarn prettify:fix

feat: hide set-properties and unset-properties from help except in dev mode
  src/commands/set-properties.ts
  src/commands/unset-properties.ts
Due: yarn lint:partial:fix, yarn prettify:fix

feat: substitue help command by --help flag
  bin/run
Due: none

feat: update resolve command output TP #1516
  src/commands/resolve.ts
Due: yarn lint:partial:fix, yarn prettify:fix

feat: rename did-resolve command to resolve TP#1516
  src/commands/resolve.ts
Due: yarn lint:partial:fix, yarn prettify:fix

Path conditions:
  yarn lint:partial:fix: any of: *.ts
  yarn prettify:fix: (any of: *.ts) or (any of: *.{json,md})
