Repository unik-name/uns-cli: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:partial:fix, yarn prettify:fix

fix: disclose write flags
  src/commands/create-unik.ts
  src/writeCommand.ts
Due: yarn lint:partial:fix, yarn prettify:fix

release 1.1.0-alpha.0
  package.json
Due: yarn prettify:fix

docs: improve send and did-resolve commands
  src/commands/did-resolve.ts
  src/commands/send.ts
Due: yarn lint:partial:fix, yarn prettify:fix

refactor: use UNSConfig from @uns/ts-sdk instead of CLI networks configuration
  src/api.ts
  src/config.ts
  src/utils/command-utils.ts
  test/__fixtures__/commands/get-wallet-address.ts
  test/commands/create-unik.test.ts
  test/commands/get-property-value.test.ts
  test/commands/get-wallet-address.test.ts
  test/commands/status.test.ts
Due: yarn lint:partial:fix, yarn prettify:fix

feat: allow commands to use custom chain node url
  src/api.ts
  src/baseCommand.ts
  src/utils/command-utils.ts
  test/__fixtures__/commands/get-wallet-address.ts
  test/commands/get-wallet-address.test.ts
  test/commands/status.test.ts
Due: yarn lint:partial:fix, yarn prettify:fix

build: upgrade ts-sdk version
  package.json
  yarn.lock
Due: yarn prettify:fix

refactor: set-properties help
  src/commands/set-properties.ts
Due: yarn lint:partial:fix, yarn prettify:fix

feat: disable help command
  bin/run
Due: none

feat: merge await & confirmations into one flag
  src/commands/create-unik.ts
  src/commands/disclose-explicit-values.ts
  src/commands/send.ts
  src/updatePropertiesCommand.ts
  src/utils/flags-utils.ts
  src/writeCommand.ts
Due: yarn lint:partial:fix, yarn prettify:fix

feat: validate transaction schema in sendTransaction
  src/api.ts
  test/__fixtures__/commands/create-unik.ts
  test/commands/set-properties.test.ts
Due: yarn lint:partial:fix, yarn prettify:fix

fix: fix isSetFlag function
  src/baseCommand.ts
  test/commands/baseCommand.test.ts
Due: yarn lint:partial:fix, yarn prettify:fix

feat: use only satUNS for fees (with --sato flag or not)
  src/commandHelpers/send-helper.ts
  src/commands/send.ts
Due: yarn lint:partial:fix, yarn prettify:fix

fix: use await and confirmations flags for transaction pool retries
  src/commandHelpers/send-helper.ts
  src/commands/send.ts
Due: yarn lint:partial:fix, yarn prettify:fix

feat: logs for flags errors
  src/baseCommand.ts
Due: yarn lint:partial:fix, yarn prettify:fix

release: 1.1.1
  package.json
Due: yarn prettify:fix

build: bump typescript and tslint versions
  package.json
  yarn.lock
Due: yarn prettify:fix

build: enable typescript strict mode
  package.json
  src/api.ts
  src/baseCommand.ts
  src/commandHelpers/get-wallet-address-helper.ts
  src/commandHelpers/send-helper.ts
  src/commands/create-unik.ts
  src/commands/create-wallet.ts
  src/commands/did-resolve.ts
  src/commands/disclose-explicit-values.ts
  src/commands/get-properties.ts
  src/commands/is-disclosed.ts
  src/commands/read-unik.ts
  src/commands/read-wallet.ts
  src/commands/send.ts
  src/commands/unset-properties.ts
  src/errorHandler.ts
  src/formater.ts
  src/logger.ts
  src/promised-entropy.d.ts
  src/types.ts
  src/updatePropertiesCommand.ts
  src/utils/command-utils.ts
  src/utils/unik-utils.ts
  src/writeCommand.ts
  test/__fixtures__/commands/get-property-value.ts
  test/__fixtures__/commands/get-wallet-address.ts
  test/__fixtures__/commons.ts
  test/commands/baseCommand.test.ts
  test/commands/disclose-explicit-values.test.ts
  test/commands/get-wallet-address.test.ts
  test/setupTests.ts
  tsconfig.json
  yarn.lock
Due: yarn lint:partial:fix, yarn prettify:fix

build: add artefacts script to create cli release artefacts
  .gitignore
  package.json
Due: yarn prettify:fix

release 1.1.2-alpha.0
  package.json
Due: yarn prettify:fix

Ark 2.6 migration
  package.json
  src/api.ts
  src/baseCommand.ts
  src/commandHelpers/send-helper.ts
  src/commands/create-unik.ts
  src/commands/disclose-explicit-values.ts
  src/commands/send.ts
  src/updatePropertiesCommand.ts
  src/utils/command-utils.ts
  src/writeCommand.ts
  test/commands/create-unik.test.ts
  yarn.lock
Due: yarn lint:partial:fix, yarn prettify:fix

set network height to block 2
  src/baseCommand.ts
Due: yarn lint:partial:fix, yarn prettify:fix

chore: upgrade to latest versions of SDK and UNS libs
  src/utils/command-utils.ts
  yarn.lock
Due: yarn lint:partial:fix, yarn prettify:fix

refactor: adapt to new UNS SDK API
  test/__fixtures__/commands/get-wallet-address.ts
  test/__fixtures__/commons.ts
  test/commands/create-unik.test.ts
  test/commands/get-wallet-address.test.ts
  test/commands/set-properties.test.ts
  test/commands/status.test.ts
  test/setupTests.ts
  tsconfig.json
Due: yarn lint:partial:fix, yarn prettify:fix

chore: improve imports
  src/commands/read-wallet.ts
Due: yarn lint:partial:fix, yarn prettify:fix

Path conditions:
  yarn lint:partial:fix: any of: *.ts
  yarn prettify:fix: (any of: *.ts) or (any of: *.{json,md})
