Repository unik-name/uns-cli: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:partial:fix, yarn prettify:fix

.lintstagedrc.json:

{
    "*.ts": ["yarn lint:partial:fix", "yarn prettify:fix"],
    "*.{json,md}": ["yarn prettify:fix"]
}

fix: some typos and code errors
  package.json
  src/commands/properties/verify.ts
  src/commands/unik/create.ts
  src/commands/unik/read.ts
  src/errorHandler.ts
  src/sdkWrapper.ts
  src/utils/command-utils.ts
Due: yarn lint:partial:fix, yarn prettify:fix

release 4.3.0
  CHANGELOG.md
  package.json
Due: yarn prettify:fix

chore: bump version to prepare 4.4.0
  package.json
Due: yarn prettify:fix

fix: force js version of bcrypto (for linux/darwin build)
  bin/run
Due: none

chore: add command to pack without publish
  package.json
Due: yarn prettify:fix

chore: use yarn oclif-dev script
  package.json
Due: yarn prettify:fix

fix: force js version of bcrypto (for linux/darwin build)
  bin/run
  package.json
Due: yarn prettify:fix

release 4.3.1
  CHANGELOG.md
  package.json
Due: yarn prettify:fix

fix: windows cli crash due to bcrypto
  bin/run.cmd
Due: none

Update bin/run.cmd
  bin/run.cmd
Due: none

feat: get pioneer badge value from sdk
  CHANGELOG.md
  package.json
  src/commands/badges/claim.ts
  yarn.lock
Due: yarn lint:partial:fix, yarn prettify:fix

feat: upgrade @uns/ts-sdk to latest
  src/commands/cryptoaccount/address.ts
  src/commands/cryptoaccount/read.ts
  src/commands/properties/get.ts
  src/commands/resolve.ts
  src/commands/unik/is-disclosed.ts
  src/commands/unik/read.ts
  src/sdkWrapper.ts
  src/utils/command-utils.ts
  test/__fixtures__/commands/cryptoaccount/address.ts
  test/__fixtures__/commands/delegate/register.ts
  test/__fixtures__/commands/delegate/vote.ts
  test/__fixtures__/commands/properties/get.ts
  test/__fixtures__/commons.ts
  test/commands/cryptoaccount/address.test.ts
  test/commands/cryptoaccount/set-second-passphrase.test.ts
  test/commands/properties/get.test.ts
  test/commands/properties/register.test.ts
  test/commands/properties/set.test.ts
  test/commands/properties/verify.test.ts
  test/commands/status.test.ts
  test/commands/unik/create.test.ts
  test/commands/unik/disclose.test.ts
  yarn.lock
Due: yarn lint:partial:fix, yarn prettify:fix

refactor: move lifecycle check for votes to sdk
  CHANGELOG.md
  src/commands/delegate/vote.ts
  test/__fixtures__/commands/delegate/vote.ts
  test/commands/delegate/vote.test.ts
  yarn.lock
Due: yarn lint:partial:fix, yarn prettify:fix

chore: upgrade sdk version
  yarn.lock
Due: none

fix: unik mint default fees
  src/commands/unik/create.ts
Due: yarn lint:partial:fix, yarn prettify:fix

fix: upgrade @uns/ts-sdk because of buggy transactions search
  yarn.lock
Due: none

fix: upgrade sdk version to fix nft mint
  package.json
  yarn.lock
Due: yarn prettify:fix

release 4.3.2
  package.json
Due: yarn prettify:fix

Revert "fix: upgrade sdk version to fix nft mint"
  package.json
  yarn.lock
Due: yarn prettify:fix

fix: upgrade ts-sdk version without dependencies
  package.json
  yarn.lock
Due: yarn prettify:fix

release 4.3.3
  package.json
Due: yarn prettify:fix

release 4.3.4
  package.json
Due: yarn prettify:fix

feat: set unik:create helper default fees to 0
  src/commands/unik/create.ts
Due: yarn lint:partial:fix, yarn prettify:fix
