Repository unik-name/uns-cli: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:partial:fix, yarn prettify:fix

ci: add circleci
  .circleci/config.yml
  .npmignore
Due: none

ci: simplify yarn commands and ci
  .circleci/config.yml
  .lintstagedrc.json
  package.json
Due: yarn prettify:fix

feat: enable dalinet only if DEV_MODE environment variable equals to true
  src/baseCommand.ts
  src/utils.ts
Due: yarn lint:partial:fix, yarn prettify:fix

fix: fix did-resolve outputs and logger levels outputs
  src/baseCommand.ts
  src/commands/create-unik.ts
  src/commands/create-wallet.ts
  src/commands/did-resolve.ts
  src/commands/get-properties.ts
  src/commands/read-unik.ts
  src/commands/read-wallet.ts
  src/commands/set-properties.ts
  src/commands/status.ts
  src/commands/unset-properties.ts
  src/logger.ts
  test/__fixtures__/commands/create-unik.ts
  test/__fixtures__/commands/status.ts
Due: yarn lint:partial:fix, yarn prettify:fix

feat: use env var UNS_NETWORK to select network
  bin/run
  src/baseCommand.ts
  test/__fixtures__/commands/status.ts
  test/commands/status.test.ts
Due: yarn lint:partial:fix, yarn prettify:fix

release v0.4.0-beta.1
  package.json
Due: yarn prettify:fix

release 0.4.0
  package.json
Due: yarn prettify:fix

release v0.4.0-beta
  package.json
Due: yarn prettify:fix

doc: update readme
  README.md
Due: yarn prettify:fix

feat: update chaineta check error message
  src/baseCommand.ts
Due: yarn lint:partial:fix, yarn prettify:fix

feat: use env var UNS_NETWORK to select network
  src/baseCommand.ts
  test/__fixtures__/commands/status.ts
  test/commands/status.test.ts
Due: yarn lint:partial:fix, yarn prettify:fix

fix: did-resolve command, did should be required
  src/commands/did-resolve.ts
Due: yarn lint:partial:fix, yarn prettify:fix

feat: did-resolve defualy output format : json
  src/commands/did-resolve.ts
Due: yarn lint:partial:fix, yarn prettify:fix

doc: update readme
  LICENSE
  README.md
Due: yarn prettify:fix

feat: add get-property-value command
  src/api.ts
  src/commands/did-resolve.ts
  src/commands/get-properties.ts
  src/commands/get-property-value.ts
  src/commands/unset-properties.ts
  src/utils.ts
  test/__fixtures__/commands/get-property-value.ts
  test/__fixtures__/commons.ts
  test/commands/create-unik.test.ts
  test/commands/get-property-value.test.ts
  yarn.lock
Due: yarn lint:partial:fix, yarn prettify:fix

release 0.5.0-alpha.0
  package.json
Due: yarn prettify:fix

feat: add transfer property
  src/commands/transfer-unik.ts
  src/utils.ts
Due: yarn lint:partial:fix, yarn prettify:fix

release 0.5.0
  package.json
Due: yarn prettify:fix

feat: add send command
  src/api.ts
  src/baseCommand.ts
  src/commands/read-wallet.ts
  src/commands/send.ts
  src/commands/status.ts
  src/errorHandler.ts
  src/utils.ts
  test/__fixtures__/commands/send.ts
  test/commands/send.test.ts
Due: yarn lint:partial:fix, yarn prettify:fix

ci: fix random failing oclif tests
  package.json
Due: yarn prettify:fix

build: dependencies cleanup
  package.json
  yarn.lock
Due: yarn prettify:fix

Path conditions:
  yarn lint:partial:fix: any of: *.ts
  yarn prettify:fix: (any of: *.ts) or (any of: *.{json,md})
