Repository unik-name/uns-cli: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:partial:fix, yarn prettify:fix

feat: update properties:set command flags
  src/commands/properties/set.ts
  test/commands/properties/set.test.ts
  test/commands/unik/verify-url.test.ts
  yarn.lock
Due: yarn lint:partial:fix, yarn prettify:fix

feat: add unik:verify-url command
  src/commands/badges/claim.ts
  src/commands/properties/set.ts
  src/commands/properties/unset.ts
  src/commands/unik/verify-url.ts
  src/updatePropertiesCommand.ts
  test/commands/unik/verify-url.test.ts
Due: yarn lint:partial:fix, yarn prettify:fix

docs: upgrade unik:verify-url help
  src/commands/unik/verify-url.ts
Due: yarn lint:partial:fix, yarn prettify:fix

feat: upgrade ts-sdk for properties list
  yarn.lock
Due: none

feat: show properties:set and properties:unset command
  src/commands/properties/set.ts
  src/commands/properties/unset.ts
Due: yarn lint:partial:fix, yarn prettify:fix

feat: remove backup passphrase claim badge command
  src/commands/badges/claim.ts
Due: yarn lint:partial:fix, yarn prettify:fix

feat: certified mint with unik-voucher
  src/commands/unik/create.ts
  yarn.lock
Due: yarn lint:partial:fix, yarn prettify:fix

fix: Set default nonce to 0
  src/sdkWrapper.ts
  test/__fixtures__/commands/unik/disclose.ts
Due: yarn lint:partial:fix, yarn prettify:fix

chores: bump sdk version to 2.3.0
  package.json
  yarn.lock
Due: yarn prettify:fix

fix: remove badges command group
  package.json
Due: yarn prettify:fix

build: allow to build and publish CLI binaries
  .gitignore
  package.json
  scripts/build_and_publish_s3_assets.sh
  yarn.lock
Due: yarn prettify:fix

chore: fix test, missing mock
  test/__fixtures__/commands/send.ts
Due: yarn lint:partial:fix, yarn prettify:fix

feat: uses uns vote transaction
  package.json
  src/utils/command-utils.ts
  yarn.lock
Due: yarn lint:partial:fix, yarn prettify:fix

feat: set livenet as default network
  src/baseCommand.ts
  src/utils/command-utils.ts
  test/__fixtures__/commands/delegate/vote.ts
  test/__fixtures__/commons.ts
  yarn.lock
Due: yarn lint:partial:fix, yarn prettify:fix

chore: remove unused local network
  src/baseCommand.ts
  src/utils/command-utils.ts
  src/utils/unik-utils.ts
Due: yarn lint:partial:fix, yarn prettify:fix

chore: bump cli version
  package.json
Due: yarn prettify:fix

chore: upgrade sdk version to 2.4.0-dev
  package.json
  yarn.lock
Due: yarn prettify:fix

chore: remove network flag from command examples
  src/commands/badges/claim.ts
  src/commands/cryptoaccount/address.ts
  src/commands/cryptoaccount/create.ts
  src/commands/cryptoaccount/read.ts
  src/commands/cryptoaccount/set-second-passphrase.ts
  src/commands/delegate/register.ts
  src/commands/delegate/resign.ts
  src/commands/delegate/unvote.ts
  src/commands/delegate/vote.ts
  src/commands/properties/get.ts
  src/commands/properties/list.ts
  src/commands/properties/set.ts
  src/commands/properties/unset.ts
  src/commands/resolve.ts
  src/commands/send.ts
  src/commands/status.ts
  src/commands/unik/create.ts
  src/commands/unik/disclose.ts
  src/commands/unik/is-disclosed.ts
  src/commands/unik/read.ts
  src/commands/unik/verify-url.ts
  src/utils/command-utils.ts
Due: yarn lint:partial:fix, yarn prettify:fix

release 3.1.0
  package.json
  yarn.lock
Due: yarn prettify:fix

chore: prepare 3.2.x
  package.json
Due: yarn prettify:fix

feat: add --check flag on unik:disclose command - rework unik-name -> unikname - refactor check flag for send command - override unik:disclose command usage description
  src/commands/send.ts
  src/commands/unik/disclose.ts
  src/utils/flags-utils.ts
  test/__fixtures__/commands/send.ts
Due: yarn lint:partial:fix, yarn prettify:fix

Path conditions:
  yarn lint:partial:fix: any of: *.ts
  yarn prettify:fix: (any of: *.ts) or (any of: *.{json,md})
