Repository unik-name/uns-cli: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:partial:fix, yarn prettify:fix

.lintstagedrc.json:

{
    "*.ts": ["yarn lint:partial:fix", "yarn prettify:fix", "git add"],
    "*.{json,md}": ["yarn prettify:fix", "git add"]
}

ci: publish CLI only if there are 1 day old modifications
  scripts/publish_nightly.sh
Due: none

build: upgrade @uns dependencies
  yarn.lock
Due: none

fix: remove verbose mode for set-second-passphrase command tests, we can't be sure to have the same stacktrace to compare (lines, version,...)
  test/commands/cryptoaccount/set-second-passphrase.test.ts
Due: yarn lint:partial:fix, yarn prettify:fix

fix: fix unik:create tests
  test/__fixtures__/commands/unik/create.ts
  test/commands/unik/create.test.ts
Due: yarn lint:partial:fix, yarn prettify:fix

refactor: use new function name
  src/sdkWrapper.ts
Due: yarn lint:partial:fix, yarn prettify:fix

refactor: rename api.ts to sdkWrapper.ts
  src/abstract-delegate.ts
  src/abstract-vote.ts
  src/baseCommand.ts
  src/commandHelpers/cryptoaccount_address-helper.ts
  src/commandHelpers/send-helper.ts
  src/commands/cryptoaccount/address.ts
  src/commands/cryptoaccount/create.ts
  src/commands/cryptoaccount/read.ts
  src/commands/cryptoaccount/set-second-passphrase.ts
  src/commands/properties/get.ts
  src/commands/properties/list.ts
  src/commands/resolve.ts
  src/commands/send.ts
  src/commands/status.ts
  src/commands/unik/create.ts
  src/commands/unik/disclose.ts
  src/commands/unik/is-disclosed.ts
  src/commands/unik/read.ts
  src/sdkWrapper.ts
  src/updatePropertiesCommand.ts
  src/writeCommand.ts
Due: yarn lint:partial:fix, yarn prettify:fix

feat: add stack trace on error if verbose mode is activated
  src/baseCommand.ts
Due: yarn lint:partial:fix, yarn prettify:fix

feat: handle certified nft mint transactions
  src/commands/unik/create.ts
  src/utils/command-utils.ts
  test/commands/unik/create.test.ts
Due: yarn lint:partial:fix, yarn prettify:fix

chore: check NPM_TOKEN only for CI publish
  scripts/publish_nightly.sh
  yarn.lock
Due: none

fix: delegate:register did not found + resolve refactoring
  src/abstract-delegate.ts
  src/baseCommand.ts
  src/commands/resolve.ts
  src/utils/unik-utils.ts
Due: yarn lint:partial:fix, yarn prettify:fix

fix: wrong case in second passphrase flag
  src/commands/cryptoaccount/set-second-passphrase.ts
  src/utils/flags-utils.ts
  src/writeCommand.ts
Due: yarn lint:partial:fix, yarn prettify:fix

ci: publish dev builds also after every PR merge on develop
  .circleci/config.yml
Due: none

refactor: update second passphrase flag name
  src/commands/cryptoaccount/set-second-passphrase.ts
  src/utils/flags-utils.ts
  src/writeCommand.ts
Due: yarn lint:partial:fix, yarn prettify:fix

feat: update delegate commands helps to add expected did format
  src/abstract-delegate.ts
  src/abstract-vote.ts
  src/commands/delegate/register.ts
  src/commands/delegate/resign.ts
  src/commands/delegate/unvote.ts
  src/commands/delegate/vote.ts
Due: yarn lint:partial:fix, yarn prettify:fix

feat: update delegate commands help with docs link
  src/commands/delegate/register.ts
  src/commands/delegate/resign.ts
  src/commands/delegate/unvote.ts
  src/commands/delegate/vote.ts
  src/utils/command-utils.ts
Due: yarn lint:partial:fix, yarn prettify:fix

feat: enable uncertified NFT mint
  package.json
  src/commands/unik/create.ts
  src/utils/flags-utils.ts
  src/writeCommand.ts
  test/__fixtures__/commands/unik/create.ts
  yarn.lock
Due: yarn lint:partial:fix, yarn prettify:fix

test: temp skip
  test/__fixtures__/commands/unik/create.ts
  test/commands/unik/create.test.ts
  test/setupTests.ts
Due: yarn lint:partial:fix, yarn prettify:fix

fix: fix certification mode
  src/commands/unik/create.ts
Due: yarn lint:partial:fix, yarn prettify:fix

chore: bump UNS SDK version to ^2.1.1 min
  package.json
  yarn.lock
Due: yarn prettify:fix

ci: allow to build 'next' release
  .circleci/config.yml
  scripts/publish_next.sh
Due: none

chore: prepare uns-cli to 2.2.x
  package.json
Due: yarn prettify:fix

feat: limit mint to only one type of unik
  package.json
  src/commands/unik/create.ts
  test/__fixtures__/commands/unik/create.ts
  test/commands/unik/create.test.ts
  yarn.lock
Due: yarn lint:partial:fix, yarn prettify:fix

chore: upgrade UNS SDK dependency to ^2.2.0 or ^2.2.0-dev
  package.json
  yarn.lock
Due: yarn prettify:fix
