Repository unik-name/uns-cli: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:partial:fix, yarn prettify:fix

fix: unik:create fee check
  src/commands/unik/create.ts
Due: yarn lint:partial:fix, yarn prettify:fix

release 4.4.0
  CHANGELOG.md
  package.json
  yarn.lock
Due: yarn prettify:fix

release 4.4.1 with bip39
  package.json
Due: yarn prettify:fix

chore: bump version 4.5.0
  package.json
  yarn.lock
Due: yarn prettify:fix

chore: bump version 4.5.0
  .circleci/config.yml
  package.json
  yarn.lock
Due: yarn prettify:fix

fix: unik of type organization creation
  src/commands/unik/create.ts
Due: yarn lint:partial:fix, yarn prettify:fix

release 4.4.2
  package.json
Due: yarn prettify:fix

build: add build/publish MacOS package
  package.json
  scripts/build_and_publish_s3_assets_macos.sh
Due: yarn prettify:fix

chore: add macos package identifier
  package.json
Due: yarn prettify:fix

fix: fix tests with new fingerprint controller body parameter
  test/commands/unik/disclose.test.ts
  yarn.lock
Due: yarn lint:partial:fix, yarn prettify:fix

refactor: remove tokenEcoV1 deadcode
  src/commands/unik/create.ts
Due: yarn lint:partial:fix, yarn prettify:fix

chore: force bcrypto 5.3.0 to avoid version incompatibilities
  package.json
  yarn.lock
Due: yarn prettify:fix

feat: warn user for unikname TLD like creation and disclose
  src/baseCommand.ts
  src/commands/send.ts
  src/commands/unik/create.ts
  src/commands/unik/disclose.ts
  src/sdkWrapper.ts
  src/writeCommand.ts
  test/commands/unik/disclose.test.ts
  yarn.lock
Due: yarn lint:partial:fix, yarn prettify:fix

release: 4.6.0
  package.json
Due: yarn prettify:fix

chore: Bump version
  package.json
Due: yarn prettify:fix

Add `swap` command
  src/commandHelpers/send-helper.ts
  src/commands/swap.ts
Due: yarn lint:partial:fix, yarn prettify:fix

Add `swap` command tests
  test/__fixtures__/commands/swap.ts
  test/commands/swap.test.ts
Due: yarn lint:partial:fix, yarn prettify:fix

chore: disable transaction polling waiting time during disclose command test
  src/commands/unik/disclose.ts
  test/commands/unik/disclose.test.ts
Due: yarn lint:partial:fix, yarn prettify:fix

ci: add code coverage
  .circleci/config.yml
  .gitignore
  package.json
Due: yarn prettify:fix

feat: upgrade sdk to enable event badges
  CHANGELOG.md
  yarn.lock
Due: yarn prettify:fix

release 4.7.0
  CHANGELOG.md
Due: yarn prettify:fix

doc(CHANGELOG): update
  CHANGELOG.md
Due: yarn prettify:fix

feat: improve new version message and decrease delay between checks
  CHANGELOG.md
  package.json
Due: yarn prettify:fix

ci: fix broken CI with multiple occurences of 'version' word
  scripts/publish_next.sh
  scripts/publish_nightly.sh
Due: none

Adds dev flag to swap command
  src/commands/swap.ts
Due: yarn lint:partial:fix, yarn prettify:fix

Path conditions:
  yarn lint:partial:fix: any of: *.ts
  yarn prettify:fix: (any of: *.ts) or (any of: *.{json,md})
